.examCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-lg);
  background: var(--gradient-card);
  border-radius: var(--space-md);
  padding: var(--space-lg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.examCard:hover {
  transform: scale(0.97);
  box-shadow: var(--box-shadow);
}

.heading3 {
  margin-bottom: var(--space-sm);
  padding: var(--space-md);
  font-size: 2.7rem;
  font-weight: 700;
  background: var(--gradient-heading-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Josefin Slab", serif;
}

.description {
  font-size: var(--space-md);
  line-height: 1.6;
  font-weight: 100;
  letter-spacing: 0.8px;
  font-family: "Comic Neue", cursive;
  color: rgb(234, 224, 207);
}

.examCard__actions {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
  margin-top: auto;
}

@media (max-width: 600px) {
  .examCard {
    padding: 2.5rem;
  }

  .examCard__actions {
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-md);
  }
}
